@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
/* font-family: 'Inter', sans-serif; */

html, body {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
    color: #21293C;
}

.container {
    padding: 50px;
    width: 800px;
    margin: auto;
    background: white;
}

.text-muted {
    color: #888888;
}

button.btn {
    background: #7E34F6;
    border-radius: 4px;
    color: white;
    padding: 7px 12px;
    border: none;
    font-weight: 700;
    height: 30px;
    cursor: pointer;
    transition: background 0.2s;
}
button.btn:hover {
    background: #5E24D6;
}

button.btn.btn-secondary {
    font-size: 11px;
    color: #4B587C;
    background: none;
    border-radius: 2px;
    border: 0px solid transparent;
    padding: 0px 5px;
    margin: 0px 5px;
}
button.btn.btn-secondary.highlighted {
    color: #7E34F6;
}
button.btn.btn-secondary:hover {
    border-bottom: 0px solid #4B587C;
    color: #7E34F6;
    background: #E5E5E5;
}

hr.seperator {
    /** copied from figma for reference
        border: 1px solid #E5E5E5; */
    background: #E5E5E5;
    height: 1px;
    border: none;
    margin: 44px 0px;
}

.profile-img {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: #7E34F6;
}