.article {
  margin-top: 50px;
  .content {
    line-height: 1.6em;
  }
  blockquote {
    font-weight: 700;
    font-size: 1.4em;
    text-align: center;
  }
  a {
    color: #7E34F6;
  }
}


.discussion {
  margin-top: 50px;
}

.discussion > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 30px;
}
