.article {
  margin-top: 50px;
}

.article .content {
  line-height: 1.6em;
}

.discussion {
  margin-top: 50px;
}

.discussion > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 30px;
}
